# --- PostgreSQL ---
# Hasło jest podawane przez Docker secret w pliku secrets/postgres_password.txt
POSTGRES_USER=postgres
POSTGRES_DB=social_db
DATABASE_URL=postgresql://postgres:secret@postgres:5432/social_db?schema=public

# --- MongoDB ---
# Hasło jest podawane przez Docker secret w pliku secrets/mongo_password.txt
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_URI=mongodb://mongo:secret@mongodb:27017/feed_db?authSource=admin

# --- Redis ---
REDIS_URL=redis://redis:6379
CACHE_TTL_SECONDS=30

# --- Services ---
PG_SERVICE_PORT=3001
MONGO_SERVICE_PORT=3002
API_GATEWAY_PORT=8080

# --- Image tagging ---
APP_VERSION=0.1.0